/********** ELEMENTS ***********/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Montserrat';
	font-weight: 400;
	display: flex;
	flex-direction: column;
}

button {
	border: none;
}

.wrapper {
	flex: 1 0 auto;
	padding-bottom: 300px;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
}